name: Build RPI SD Image

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v27

      - name: Configure Cachix
        uses: cachix/cachix-action@v14
        with:
          name: utcsheffield

      - name: Build NixOS RPI Image
        run: nix build .#nixosConfigurations.rpi.config.system.build.sdImage

      - name: Release SD Image
        uses: softprops/action-gh-release@v2
        with:
          tag_name: master-${{ github.sha }}
          name: SD Image build ${{ github.sha }}
          files: result/sd-image/*